
@import 'variables';
@import 'mixins';

$default-padding: 6px 10px;
$input-background: #ffffff;

.search-box {
    display: flex;
    background: $input-background;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: $default-border-radius;
    justify-content: space-between;
    flex: 1 1 auto;

    input[type="search"] {
        padding: $default-padding;
        border: none !important;
        border-radius: inherit;
        width: 100%;
        min-width: 150px;
    
        &:focus {
            outline: 2px solid $border-color-focus;
        }
    }

    i {
        padding: 0px 10px;
        color: $border-color;
        cursor: pointer;
    }
}

input:not([type='checkbox']), textarea {
    padding: $default-padding;
    border: 1px solid $border-color;
    appearance: none;
    outline: none;
    font-size: large;
    font-family: $fonts;
    width: 100%;

    &::placeholder {
        color: #c2c2c2;
    }

}


.custom-input-icon {

    display: flex;
    align-items: stretch;
    background: #f7f7f9;
    border: 1px solid $border-color;
    border-radius: $default-border-radius;
    flex: 1;

    @include device(mobile) {
        flex-wrap: wrap;
        gap: 5px;
    }

    input {
        border: 0;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    i {
        padding: 10px;
        color: #7494a2;
        border-right: inherit;

        @include device(mobile) {
            border: 0;
        }

    }
}

.custom-input-tel {
    display: flex;
    align-items: stretch;
    background: #f2f2f2;
    border: 1px solid $border-color;
    border-radius: $default-border-radius;
    width: 100%;

    & > input { 
        border: 0;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    & > span {
        padding: 10px;
        font-weight: bold;
        border-right: inherit;
    }

}

.input-w-select {
    display: flex;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);

    &:focus-within {
        border: 1px solid $primary-icon-color;
    }

    & > input {
        border: none;
        border-radius: 0;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        width: 100px;
    }

    & > select {
        border: none;
        border-radius: 0;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        border-left: 1px solid rgb(224, 224, 224);
        background: #f1f1f1;
    }
}

select {
    outline:none;
    padding: $default-padding;
    border: 1px solid $border-color;
    border-radius: $default-border-radius;
    font-size: large;
}

.custom-input-icon:focus-within,
.custom-input-tel:focus-within {
    border: 1px solid $primary-icon-color !important;
}

.input-error {
    border: 1px solid rgb(187, 49, 49) !important;
}

textarea {
    border-radius: $default-border-radius;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=password] {
    font: large Verdana;
    letter-spacing: 1px;
}

input[type="checkbox"] {
    margin-right: 5px;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    appearance: none;
    border: 1px dashed $primary-icon-color;
    border-radius: 0.15em;
    cursor: pointer;
    display: grid;
    place-content: center;

    &::before {
        content: "";
        width: 0.7em;
        height: 0.7em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: center;
        transition: 200ms transform ease-in-out;
        
    }
    
    &:checked::before {
        transform: scale(1);
        background: white;
    }
    
    &:checked {
        background: rgb(77, 225, 77);
        border: none !important;
    }
}


.checkbox {
    &.blue {
        &:checked {
            background: $blue;
        }
    }
}
