
$fonts: 'Source Sans Pro','Open Sans', sans-serif;

$base-font-size: 1em;

$background-color: #f3f5f4; 
$primary-text-color: #313137;
$primary-link-color: rgb(1, 167, 205);
$primary-icon-color: #728ca0;

$mobile-width: 425px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1440px;
$fourk-width: 2560px;

$h4-color: rgb(111, 111, 157);

$border-color: rgb(219, 219, 244);
$border-color-focus: rgb(33, 160, 229);
$default-border-radius: 4px;

$blue: #0069f2;